.container {
  display: flex;
  justify-content: center;
  align-content: center;
  /* flex-direction: column;
  margin: 0 auto; */
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  border: 1px solid black;
  width: 50%;

  text-align: center;

  flex-direction: column;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}


.header {
  flex-direction: row;
  display: flex;

  justify-content: center;
  background-color: lightblue;

  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}

.button {
  background-color: lightblue;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  justify-content: center;
}

.button:hover {
  background-color: darkcyan;
}

.formatedDate {
  font-size: 1.2rem;
  margin-top: -0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.title {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.text {
  font-size: 1rem;
}

.history {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}

.history-buttons{
  width: 100%;
  margin-top: 15px;
}

.history-button{
  width: 50%;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.history-button:hover{
  background-color: lightblue;
}


.history-button-active{
  width: 50%;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
}

.history-button-active:hover{
  background-color: lightblue;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  min-width: 200px;
  margin: 20px 20px;
}

.card-container {
}

.card-title {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  margin: 10px 20px;
}

.card-text {
  font-size: 0.8rem;
  margin-left: 5px;
}